nav {
  font-family: $source-sans-pro;
}

nav.bg-light {
  background-color: transparent !important;
}

nav.navbar-light .navbar-brand {
  font-family: $bebas-neue;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
}

.navbar-nav {
  width: 500px;
}

nav.navbar-light .navbar-nav a.nav-link {
  font-weight: 400;
  color: #fff;
}

nav.navbar-light .navbar-nav a.nav-link.active {
  font-weight: 600;
  color: #fff;
}