nav.navbar-light {
  font-family: $source-sans-pro;
  .navbar-brand {
    font-family: $bebas-neue;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .navbar-toggler-icon {
    background-image: url(./assets/images/burger-icon.png);
    width: 15px;
  }
}

nav.bg-light {
  background-color: transparent !important;
}

nav.navbar-light .navbar-nav a.nav-link {
  font-weight: 400;
  color: #fff;
}

nav.navbar-light .navbar-nav a.nav-link.active {
  font-weight: 600;
  color: #fff;
}

@media (min-width: $bp-tablet) {
  .navbar-nav {
    width: 500px;
  }
}

@media (max-width: $bp-tablet) {
  nav.navbar-light {
    .navbar-nav {
      a.nav-link {
        font-size: 12px;
      }
    }
    .navbar-brand {
      font-size: 20px;
      margin-top: 0.4rem;
    }
    .navbar-toggler {
      &:focus {
        box-shadow: none;
      }
    }
  }
}
